$pink: #dfadfa;
$brown: #f4d8d2;

$white: #fff;
$offwhite: #FCFCFC;
$black: #333;

$grey: #999;
$grey-light: #ddd;

$clippy-brown: #EFC7BF;
$clippy-pink: #E5AECD;

$clippy-brown-light: #F9E7D9;
$clippy-brown-dark: #F7E3DF;
