.grid-4 {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 3rem;
	@include respond (tab-port) {
		grid-template-columns: repeat(2,1fr);
		grid-column-gap:  10rem;
		justify-content: space-between;
		align-items: center;
	}
	@include respond (phone) {
		grid-template-columns: 1fr;
		text-align: center;
		justify-content: center;
	}
}

.grid-3 {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 3rem;
	@include respond (tab-port) {
		grid-template-columns: repeat(2,1fr);
		// grid-gap: 1rem;
	}
	@include respond (phone) {
		grid-template-columns: 1fr;
	}
}

.grid-2 {
	position: relative;
	z-index: 1;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 5rem;

	align-items: center;
	@include respond (mini-tab) {
		text-align: center;
		grid-template-columns: 1fr;
	}
}

.grid-text {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
	grid-gap: 3rem;
}

.grid-text-3 {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 3rem;
	@include respond (tab-port) {
		grid-template-columns: 1fr;
		//grid-gap: 1rem;
	}
}

//for this project
.grid-gallery {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 3rem;
	@include respond (tab-land) {
		grid-template-columns: 1fr;
		text-align: center;
	}
}

.grid-counter {
	display: grid;
	align-items: center;
	text-align: center;
	justify-items: center;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 1rem;
}