.header {
	position: relative;
	&__banner {
		position: relative;
		z-index: 2;
		width: 90%;
		@include respond (mini-tab) {
			display: none;
		}
	}
	&__row {
		z-index: 0;
		align-items: center;
		margin-top: 20rem;
		@include respond (mini-tab) {
			margin-top: 10rem;
		}
	}
	&__nav {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		top: 5rem;
		padding: 0 3rem;
		z-index: 2;
	}
	&__items {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		@include respond (tab-port) {
			display: none;
		}
	}
	&__lists {
		&:not(:last-child) {
			margin-right: 4rem;
			@include respond (tab-land) {
				margin-right: 2.5rem;
			}
		}
	}
	&__links {
		color: $white;
		&::after {
			content: "";
			display: block;
			width: 0;
			height: 2px;
			background-color: $white;
			transition: width .3s;
		}
		&:hover {
			color: $white;
		}
		&:hover::after {
			width: 100%;
			transition: width .3s;
		}
	}
	&__hero {
		//position: relative;
		&-title {
			font-size: 4rem;
			font-weight: bold;
			line-height: 6rem;
			letter-spacing: 1.5px;
			margin-bottom: 1rem;
			color: $pink;
			background-image: linear-gradient(to left, $pink,$clippy-pink);
			-webkit-background-clip: text;
			color: transparent;
			@include respond (mini-tab) {
				color: $white;
			}
		}
		&-subtitle {
			font-size: 2rem;
			font-weight: lighter;
			margin-bottom: 2rem;
		}
	}
}

//CUSTOM SHAPES
.custom-shape-divider-bottom-1601556831 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-image: linear-gradient(to top, $clippy-pink, $clippy-brown-light);
    transform: rotate(180deg);
    display: none;
    @include respond (mini-tab) {
    	display: block;
    }
}

.custom-shape-divider-bottom-1601556831 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1601556831 .shape-fill {
    fill: $offwhite;
}